.carousel {
  --slide-spacing: 1rem;
  --slide-size: 50%;
  margin-top: 2rem;
  position: relative;

  .viewport {
    overflow: hidden;
  }

  .container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  .slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }

  .prev,
  .next {
    cursor: pointer;

    position: absolute;
    left: -2%;
    top: 40%;
    transform: translateY(-50%);

    -webkit-appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;

    z-index: 1;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 3rem;
    height: 3rem;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }

    &:disabled {
      opacity: 0.3;
      cursor: default;
    }
  }

  .next {
    left: 98%;
  }
}

@media only screen and (min-width: 800px) {
  .carousel {
    --slide-spacing: 1.25rem;
    --slide-size: 33.33%;
  }
}

@media only screen and (min-width: 1200px) {
  .carousel {
    --slide-spacing: 2rem;
    --slide-size: 25%;

    .prev,
    .next {
      width: 4rem;
      height: 4rem;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .carousel {
    --slide-size: 20%;
  }
}
