.filters {
  padding: 3rem 2rem 1rem 2rem;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: 100%;

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;

    font-size: 1.2rem;
    font-weight: 500;
  }

  .checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .amount {
      font-size: 0.8rem;
      font-weight: 500;
      line-height: 1.5rem;
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.6);

      padding: 0.05rem 0.7rem;
      border-radius: 1rem;
    }
  }
}
