.footer {
  background-color: white;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding-bottom: 4rem;

  .info {
    padding: 1.5rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h2 {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.875rem;
    }

    .cta {
      display: flex;
      align-items: center;
      gap: 1rem;

      margin-top: 2rem;

      button,
      .emptyButton {
        color: white;
        font-size: 0.95rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        border-radius: 0.25rem;
        border: 1px solid #fff;
        background: black;
        padding: 0.6rem 1.2rem;
      }

      .emptyButton {
        display: flex;
        align-items: center;

        color: black;

        border: none;
        background: transparent;
        padding: 0;

        svg {
          margin-left: 0.5rem;
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }

  ul {
    margin-top: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;

    .copyright {
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      bottom: -2rem;
      width: 100%;
    }

    li {
      font-size: 0.8125rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      opacity: 0.5;
    }
  }
}

@media only screen and (min-width: 600px) {
  .footer {
    .info {
      width: 70%;
      h2 {
        font-size: 1.5rem;
        line-height: 2.5rem;
      }

      .cta {
        button,
        .emptyButton {
          padding: 0.7rem 1.5rem;
        }

        .emptyButton {
          gap: 0.5rem;
        }
      }
    }

    ul {
      gap: 2.5rem;
      .copyright {
      }

      li {
      }
    }
  }
}
