.product {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  object-fit: cover;
  margin-bottom: 2rem;
  text-align: left;

  .image {
    width: 100%;
    height: 15rem;
    border-radius: 0.3125rem;
    object-fit: cover;

    overflow: hidden;

    img {
      width: 100%;
      height: 20rem;
      border-radius: 0.3125rem;
      object-fit: cover;

      transition: all 0.3s ease-in-out;
    }
  }

  h4 {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5625rem;
  }

  p {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
  }

  &:hover {
    .image img {
      transform: scale(110%);
    }
  }
}

@media only screen and (min-width: 600px) {
  .product {
    margin-bottom: 3rem;

    .image {
      height: 20rem;
    }

    h4 {
      margin-top: 0.6rem;
      font-size: 1.2rem;
      line-height: 2.5rem;
    }

    p {
      margin-top: 0.25rem;
      font-size: 1rem;
      line-height: 1.75rem;
    }
  }
}
