.tool {
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 1.5rem;
  width: 100%;
  max-width: 30rem;
  border-radius: 0.3125rem;
  background: #f3f3f3;

  img {
    transform: translateZ(50px);
    transform-style: preserve-3d;
    width: 90%;
    margin-left: auto;
  }

  .text {
    transform: translateZ(15px);
    transform-style: preserve-3d;
    text-align: center;
    padding: 1.5rem;

    h3 {
      transform: translateZ(30px);
      transform-style: preserve-3d;
      margin-bottom: 1rem;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.875rem;
    }

    p {
      transform: translateZ(15px);
      transform-style: preserve-3d;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.375rem;
    }
  }
}

@media only screen and (min-width: 600px) {
  .tool {
    width: 80%;
  }
}

@media only screen and (min-width: 800px) {
  .tool {
    width: 70%;

    .text {
      h3 {
        font-size: 1.5rem;
        margin-bottom: 1.25rem;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.5rem;
      }
    }
  }
}
