.mainLogin {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  overflow-y: hidden;

  form {
    position: absolute;
    width: 85%;
    max-width: 25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
      color: #000;
      font-size: 1.875rem;
      font-weight: 600;
      line-height: 1.875rem;

      margin-bottom: 1rem;
    }

    .error {
      padding: 0.5rem 0.75rem;
      border-radius: 0.3125rem;
      border: 1px solid red;
      opacity: 0;
      height: 0;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      background-color: #ebbcbc;

      width: 100%;

      svg {
        color: red;
        width: 1.2rem;
        height: 1.2rem;
      }

      p {
        color: red;
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 1.2rem;
      }
    }

    input,
    button {
      width: 100%;
      border-radius: 0.3125rem;
      background: #ededed;

      padding: 0.8rem 0.75rem;
    }

    button {
      background-color: black;
      color: white;
    }
  }
}

@media only screen and (min-width: 1300px) {
  .mainLogin {
    .leftTriangles,
    .rightTriangles {
      background-image: url("/images/graphics/triangles.png");
      background-size: cover;
      background-position: center;
      width: 40vw;
      height: 40vw;

      position: absolute;
    }

    .leftTriangles {
      left: -0.5rem;
      bottom: 0;
    }

    .rightTriangles {
      top: -0.5rem;
      right: -0.5rem;
      transform: rotate(180deg);
    }
  }
}
