.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  color: black;
  background-color: white;

  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 2.5rem 1rem;

    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 47.2%,
        rgba(0, 0, 0, 0.9) 100%
      ),
      url("/images/covers/navbar.webp");
    background-size: cover;
    background-position: center;
  }

  .content {
    margin-bottom: auto;
    width: 100%;
    padding: 2.5rem 1rem 1rem 1rem;

    .topNav,
    .sideNav {
      display: none;
    }
  }

  .bottomNav {
    width: 75%;
    display: flex;
    align-items: center;
    place-content: space-between;
    padding: 1rem;

    .navItem,
    .active {
      padding: 0.65rem;
      border-radius: 0.3125rem;
      background-color: white;

      transition: 0.2s ease-in-out;

      svg {
        color: black;
        width: 1.75rem;
        height: 1.75rem;
        transition: 0.2s ease-in-out;
      }

      &:hover {
        background-color: black;

        svg {
          color: white;
        }
      }
    }

    .active {
      background-color: black;

      svg {
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  .mainPage {
    .content {
      margin-bottom: auto;
      width: 100%;
      padding: 3rem 1.5rem;

      display: flex;
      align-items: flex-start;
      gap: 1rem;
      flex-direction: column;

      .topNav,
      .sideNav {
        width: 75%;
        display: flex;
        align-items: center;
        gap: 3rem;

        .navItem,
        .active {
          display: flex;
          align-items: center;
          gap: 0.75rem;

          padding: 0.65rem 1.5rem 0.65rem 0.65rem;
          border-radius: 0.3125rem;
          background-color: white;

          transition: 0.2s ease-in-out;

          color: rgba(0, 0, 0, 0.5);
          font-size: 1rem;
          font-weight: 500;

          svg {
            color: rgba(0, 0, 0, 0.5);
            width: 1.25rem;
            height: 1.25rem;
            transition: 0.2s ease-in-out;
          }

          &:hover {
            background-color: black;
            color: white;

            svg {
              color: white;
            }
          }
        }

        .active {
          background-color: black;
          color: white;

          svg {
            color: white;
          }
        }
      }

      .sideNav {
        display: none;
      }
    }

    .bottomNav {
      display: none;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .mainPage {
    .content {
      margin-bottom: auto;
      max-width: 100rem;
      width: 100%;
      padding: 3rem 1.5rem;

      flex-direction: row;
      justify-content: center;
      gap: 2rem;

      .topNav {
        display: none;
      }

      .sideNav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 20%;
        height: 72vh;
        gap: 1rem;

        border-radius: 0.3125rem;
        background: #ededed;
        padding: 1.5rem;

        h1 {
          color: #000;
          font-size: 1.5rem;
          font-weight: 500;

          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          padding-bottom: 1.5rem;
          width: 100%;

          span {
            font-weight: 800;
          }
        }

        .navItem,
        .active {
          width: 100%;
          padding: 0.75rem 1rem;
        }

        .navItem {
          background-color: transparent;
        }
      }
    }
  }
}
