.orders,
.messages,
.products {
  border-radius: 0.3125rem;
  background: #ededed;
  padding: 1rem;
  width: 100%;
  height: 72vh;
  max-height: 72vh;

  .top {
    width: 100%;
    display: flex;
    align-items: center;
    place-content: space-between;

    margin-bottom: 2rem;

    .left {
      width: 30%;

      h3 {
        font-size: 1rem;
        font-weight: 600;
      }

      p {
        margin-top: 0.25rem;
        color: rgba(0, 0, 0, 0.6);
        font-size: 0.875rem;
        font-weight: 400;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      button {
        border-radius: 0.3125rem;
        padding: 0.4rem 1rem;
        border: 1px solid black;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        font-size: 0.875rem;
        font-weight: 500;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: black;
          color: white;

          svg {
            color: white;
          }
        }
      }

      .line {
        height: 2rem;
        width: 1.25px;
        background: rgba(0, 0, 0, 0.2);
      }

      .info {
        display: flex;
        align-items: center;
        flex-direction: column;

        h3 {
          font-size: 1rem;
          font-weight: 600;
        }

        p {
          margin-top: 0.25rem;
          color: rgba(0, 0, 0, 0.6);
          font-size: 0.75rem;
          font-weight: 400;
        }
      }
    }
  }

  .tableContainer {
    height: 55vh;
    max-height: 55vh;
    max-width: 100%;
    overflow: scroll;
    position: relative;

    padding-right: 0.5rem;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &:-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }

  .grid {
    overflow-y: scroll;
    width: 100%;
    max-width: 100rem;
    height: 55vh;
    max-height: 55vh;
    max-width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.75rem;

    flex-wrap: wrap;
    justify-content: center;

    .productContainer {
      width: 45%;
      max-width: 18rem;
    }
  }
}

@media only screen and (min-width: 500px) {
  .products {
    .grid {
      gap: 1rem;
      justify-content: flex-start;

      .productContainer {
        width: 30%;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  .orders,
  .messages,
  .products {
    padding: 1.5rem;
    .top {
      margin-bottom: 3rem;
      .left {
        width: 40%;
        h3 {
          font-size: 1.5rem;
          font-weight: 600;
        }

        p {
          margin-top: 0.4rem;
          font-size: 1rem;
        }
      }

      .right {
        gap: 1rem;

        button {
          padding: 0.5rem 1rem;
          gap: 0.6rem;
          font-size: 1rem;
        }

        .info {
          h3 {
            font-size: 1.3rem;
          }

          p {
            margin-top: 0.3rem;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .products {
    .grid {
      gap: 1.5rem;

      .productContainer {
        width: 20%;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .orders,
  .messages,
  .products {
    padding: 2rem;
    .top {
      margin-bottom: 3.5rem;
      .right {
        gap: 1.5rem;

        .info {
          h3 {
            font-size: 1.75rem;
          }
        }
      }
    }

    .grid {
      width: 100%;
      gap: 2rem;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .products {
    .grid {
      .productContainer {
        width: 14%;
      }
    }
  }
}
