.mainAbout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: black;
  background-color: white;

  h1 {
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  h2 {
    color: #000;

    font-size: 1.25rem;
    font-weight: 800;
    line-height: 2.5rem;
  }

  p {
    text-align: center;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5625rem;
  }

  button,
  .emptyButton {
    color: #000;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 0.25rem;
    border: 1px solid #fff;
    background: #fff;
    padding: 0.6rem 1.2rem;
  }

  .emptyButton {
    display: flex;
    align-items: center;

    color: white;

    border: none;
    background: transparent;
    padding: 0;

    svg {
      margin-left: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 10rem 1rem;

    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.9) 47.2%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("/images/kitchens/kitchen_2.png");
    background-size: cover;

    h1 {
      color: white;
      margin-bottom: 1rem;
    }
  }

  .about {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 3rem 1.25rem;

    .text {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;

      p {
        margin-top: 2rem;

        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5625rem;
      }

      .emptyButton {
        margin-top: 1.5rem;
        color: black;
        svg {
        }
      }
    }

    img {
      width: 100%;
      margin-top: 3rem;
    }
  }

  .details {
    border-radius: 0.3125rem;
    background: #191919;
    color: white;

    width: 90%;
    padding: 2rem;

    text-align: center;

    h2 {
      color: white;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2.1875rem;
    }

    h3 {
      margin-top: 3rem;

      font-size: 1.25rem;
      font-weight: 700;
      line-height: 2.5rem;
    }

    ul {
      list-style-type: none;

      li {
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.875rem;
      }
    }
  }

  .tools {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 5rem 1.25rem;

    .tool {
      display: flex;
      align-items: center;
      flex-direction: column;

      margin-top: 1.5rem;
      width: 100%;
      border-radius: 0.3125rem;
      background: #f3f3f3;

      img {
        width: 90%;
        margin-left: auto;
      }

      .text {
        text-align: center;
        padding: 1.5rem;

        h3 {
          margin-bottom: 1rem;
          font-size: 1.25rem;
          font-weight: 600;
          line-height: 1.875rem;
        }

        p {
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.375rem;
        }
      }

      &:nth-child(3) {
        img {
          width: 80%;
          margin: 2rem 0;
        }
      }
    }
  }
}
