.mainAbout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: black;
  background-color: white;

  h1 {
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  h2 {
    color: #000;

    font-size: 1.25rem;
    font-weight: 800;
    line-height: 2.5rem;
  }

  p {
    text-align: center;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5625rem;
  }

  button,
  .emptyButton {
    color: #000;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 0.25rem;
    border: 1px solid #fff;
    background: #fff;
    padding: 0.6rem 1.2rem;
  }

  .emptyButton {
    display: flex;
    align-items: center;

    color: white;

    border: none;
    background: transparent;
    padding: 0;

    svg {
      margin-left: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 10rem 1rem;

    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.9) 47.2%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("/images/covers/about.webp");
    background-size: cover;
    background-position: center;

    h1 {
      color: white;
      margin-bottom: 1rem;
    }
  }

  .about {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    padding: 3rem 1.25rem;

    .top,
    .bottom {
      display: flex;
      align-items: center;
      flex-direction: column;

      p {
        margin-top: 2rem;

        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5625rem;
      }

      img {
        width: 100%;
        margin-top: 3rem;
      }
    }
  }

  .details {
    border-radius: 0.3125rem;
    background: #191919;
    color: white;

    width: 90%;
    padding: 2rem;

    text-align: center;

    h2 {
      color: white;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2.1875rem;
    }

    h3 {
      margin-top: 3rem;

      font-size: 1.25rem;
      font-weight: 700;
      line-height: 2.5rem;
    }

    ul {
      list-style-type: none;

      li {
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.875rem;
      }
    }
  }

  .tools {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    padding: 5rem 1.25rem;

    .toolGrid {
      margin-top: 2rem;

      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;

      flex-wrap: wrap;
    }
  }

  .logos {
    width: 100%;
    padding: 2rem 1.25rem 5rem 1.25rem;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;

    flex-wrap: wrap;

    img {
      width: 60%;
      max-width: 15rem;
    }
  }
}

@media only screen and (min-width: 600px) {
  .mainAbout {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.3rem;
    }

    p {
      font-size: 1rem;
    }

    .about {
      padding: 5rem 4rem;

      .top,
      .bottom {
        img {
          margin-top: 3.5rem;
        }

        p {
          margin-top: 3.5rem;
        }
      }
    }

    .details {
      padding: 3rem 4rem;
    }

    .tools {
      padding: 7rem 4rem;

      .toolGrid {
        gap: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .mainAbout {
    h1 {
      font-size: 2.5rem;
      line-height: 4rem;
    }

    h2 {
      font-size: 2rem;
      line-height: 3rem;
    }

    .hero {
      padding: 15rem 1rem;
    }

    .about {
      padding: 6rem 5rem;

      .top,
      .bottom {
        p {
          line-height: 2rem;
        }
      }
    }

    .details {
      padding: 5rem 6rem;
      width: 80%;
    }
  }
}

@media only screen and (min-width: 900px) {
  .mainAbout {
    .about {
      padding: 6rem 8rem;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .mainAbout {
    h1 {
      font-size: 3rem;
      line-height: 4.5rem;
    }

    .about {
      padding: 6rem 3rem;

      .top,
      .bottom {
        flex-direction: row;
        place-content: space-between;
        align-items: center;

        p {
          text-align: left;
          margin-top: 0;
        }
      }

      .top {
        h2 {
          width: 47.5%;
          text-align: left;
        }
        p {
          width: 47.5%;
        }
      }

      .bottom {
        margin-top: 5rem;
        flex-direction: row-reverse;

        p {
          width: 47.5%;
        }

        img {
          margin-top: 0;
          width: 47.5%;
        }
      }
    }

    .details {
      padding: 5rem 6rem;
      width: 90%;

      display: flex;
      align-items: center;
      flex-direction: row;
      place-content: space-between;

      h2 {
        font-size: 2rem;
        line-height: 3rem;
      }

      h3 {
        margin-top: 0;
      }

      ul {
        text-align: right;
      }
    }
  }
}

@media only screen and (min-width: 1300px) {
  .mainAbout {
    h2 {
      font-size: 3rem;
      line-height: 4.5rem;
    }

    .about {
      padding: 10rem 6rem;

      .top {
        h2 {
          width: 45%;
        }
        p {
          width: 45%;
          line-height: 2.5rem;
        }
      }

      .bottom {
        margin-top: 5rem;

        p {
          width: 45%;
        }

        img {
          width: 45%;
        }
      }
    }

    .details {
      padding: 5rem 7rem;
      width: 90%;
    }

    .tools {
      .toolGrid {
        margin-top: 4rem;
      }
    }

    .logos {
      padding: 5rem 2rem;
      gap: 8rem;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .mainAbout {
    .about {
      padding: 10rem 8rem;
    }

    .details {
      padding: 5rem 10rem;
      width: 85%;
    }

    .tools {
      padding: 8rem 5rem;
      .toolGrid {
        margin-top: 4rem;
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .mainAbout {
    .about {
      padding: 10rem 10rem;
      max-width: 100rem;

      .top,
      .bottom {
        p {
          font-size: 1.1rem;
          line-height: 2.6rem;
        }
      }
    }

    .details {
      max-width: 100rem;
      padding: 5rem 10rem;
      width: 85%;
    }

    .tools {
      max-width: 100rem;
    }
  }
}
