.sentMessageModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: #fff;

  padding: 0.5rem 1.25rem 1rem 1.25rem;

  width: 30rem;
  height: 100%;
  max-width: 100%;

  button {
    color: white;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 0.25rem;
    border: none;
    background: black;
    padding: 0.5rem 1.5rem;
  }

  .top {
    width: 100%;

    display: flex;
    align-items: center;
    place-content: space-between;

    h3 {
      font-size: 0.9rem;
      font-weight: 600;
      line-height: 1.875rem;
      opacity: 0.8;
    }

    svg {
      cursor: pointer;

      width: 1.1rem;
      height: 1.1rem;

      opacity: 0.5;
    }
  }

  .success,
  .fail {
    margin-top: 2rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;

    img {
      width: 70%;
      max-width: 13rem;
    }

    h3 {
      margin-top: 1.25rem;
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 1.875rem;
      opacity: 0.8;
    }

    p {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      font-weight: 500;
      line-height: 1.4rem;
      opacity: 0.8;
    }

    button {
      margin-top: 2rem;
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      margin-top: 2rem;
    }
  }
}

.mainContact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: black;
  background-color: white;

  h1 {
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  p {
    text-align: center;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5625rem;
  }

  button {
    color: #000;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 0.25rem;
    border: 1px solid #fff;
    background: #fff;
    padding: 0.6rem 1.2rem;
  }

  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 10rem 1rem;

    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.9) 47.2%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("/images/covers/contact.webp");
    background-size: cover;

    h1 {
      color: white;
      margin-bottom: 1rem;
    }
  }

  .contact {
    width: 100%;
    padding: 3rem 1.25rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;

    .info {
      max-width: 40rem;
      width: 100%;
      border-radius: 0.3125rem;
      background: #191919;
      padding: 1.2rem;
      color: white;

      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.875rem;
        margin-left: 2.5rem;
      }

      .infoBlock,
      .chatBlock {
        margin-top: 2rem;
        display: flex;
        align-items: flex-start;
        gap: 1rem;

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }

        ul,
        .content {
          list-style-type: none;

          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 1rem;

          li,
          p {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5625rem;
          }
        }
      }

      .chatBlock {
        .content {
          width: 100%;

          form {
            width: 90%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 0.5rem;

            input,
            textarea {
              resize: none;
              width: 100%;
              padding: 0.5rem 1rem;
              border: none;
              border-bottom: 1px solid rgba(255, 255, 255, 0.5);
              outline: none;
              background: transparent;

              color: white;
              font-size: 0.9rem;
              font-weight: 500;
              line-height: 1.5625rem;
            }

            button {
              margin-top: 2rem;
              padding: 0.5rem 2.25rem;
              transition: all 0.3s ease-in-out;
            }

            .disabled {
              background-color: rgba(255, 255, 255, 0.3);
              border: 1px solid rgba(255, 255, 255, 0);
              cursor: not-allowed;
            }
          }
        }
      }
    }

    .map {
      width: 100%;
      border: none;
      border-radius: 0.3125rem;
    }
  }
}

@media only screen and (min-width: 450px) {
  .sentMessageModal {
    border-radius: 0.3125rem;
    max-width: 95%;
    height: fit-content;
  }
}

@media only screen and (min-width: 500px) {
  .sentMessageModal {
    max-width: 43rem;

    button {
      font-size: 0.9rem;
      padding: 0.7rem 1.75rem;
    }

    .top {
      h3 {
        font-size: 1rem;
        line-height: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .mainContact {
    h1 {
      font-size: 2rem;
      line-height: 3.5rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.75rem;
    }

    button {
      font-size: 1rem;
      padding: 0.7rem 1.4rem;
    }

    .hero {
      padding: 12rem 1rem;
    }

    .contact {
      padding: 4rem 2.5rem;
      gap: 2rem;

      .info {
        padding: 2rem;

        .chatBlock {
          .content {
            form {
              width: 80%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .sentMessageModal {
    width: 35rem;
    .success,
    .fail {
      h3 {
        max-width: 20rem;
        margin-top: 2rem;
        font-size: 1.4rem;
        line-height: 2.5rem;
        opacity: 0.9;
      }

      p {
        max-width: 20rem;
        margin-top: 0.5rem;
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1.8rem;
        opacity: 0.7;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .mainContact {
    h1 {
      font-size: 3rem;
      line-height: 5rem;
    }

    .hero {
      padding: 15rem 1rem;
    }

    .contact {
      padding: 7rem 3rem;
      gap: 0;

      .info {
        z-index: 2;
      }

      .map {
        max-width: 75rem;
        margin-top: -3rem;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .mainContact {
    .contact {
      flex-direction: row;

      .info {
        .chatBlock {
          .content {
            form {
              width: 50%;
            }
          }
        }
      }

      .map {
        z-index: 3;
        height: 45rem;
        margin-left: -15rem;
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .mainContact {
    .contact {
      padding: 5rem 10rem 10rem 10rem;
      justify-content: center;

      .info {
        .chatBlock {
          .content {
            form {
              width: 50%;
            }
          }
        }
      }

      .map {
        z-index: 3;
        height: 45rem;
        margin-left: -15rem;
        margin-top: 0;
      }
    }
  }
}
