.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: black;
  background-color: white;

  h1 {
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  h2 {
  }

  h3 {
  }

  p {
    text-align: center;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5625rem;
  }

  button,
  .emptyButton {
    color: #000;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 0.25rem;
    border: 1px solid #fff;
    background: #fff;
    padding: 0.6rem 1.2rem;
  }

  .emptyButton {
    display: flex;
    align-items: center;

    color: white;

    border: none;
    background: transparent;
    padding: 0;

    svg {
      margin-left: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 10rem 1rem;

    background-image: linear-gradient(0deg, #000 47.2%, rgba(0, 0, 0, 0) 100%),
      url("/images/kitchens/dark_kitchen.png");
    background-size: cover;

    .text {
      color: white;

      h1 {
        margin-bottom: 1rem;
      }

      p {
      }
    }

    .cta {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      margin-top: 2rem;
      button {
      }

      .emptyButton {
        svg {
        }
      }
    }
  }

  .about {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 3rem 1.25rem;
    .text {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;

      h1 {
        width: 100%;
        position: absolute;

        color: rgba(0, 0, 0, 0.04);
        font-size: 22vw;
        font-weight: 800;
      }

      h2 {
        color: #000;

        font-size: 1.25rem;
        font-weight: 800;
        line-height: 2.5rem;
      }

      p {
        margin-top: 2rem;

        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5625rem;
      }

      .emptyButton {
        margin-top: 1.5rem;
        color: black;
        svg {
        }
      }
    }

    img {
      width: 100%;
      margin-top: 3rem;
    }
  }

  .services {
    width: 100%;
    padding: 5rem 1.25rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    .service {
      position: relative;

      width: 100%;
      height: 10rem;

      border-radius: 0.3125rem;

      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.17) 0%,
          rgba(0, 0, 0, 0.73) 100%
        ),
        url("/images/kitchens/kitchen_1.png");
      background-size: cover;

      h1 {
        position: absolute;
        bottom: 0.5rem;
        left: 1rem;

        color: #fff;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 2.5rem;
      }

      &:nth-child(2) {
        background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.17) 0%,
            rgba(0, 0, 0, 0.73) 100%
          ),
          url("/images/rooms/room_1.png");
      }

      &:nth-child(3) {
        background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.17) 0%,
            rgba(0, 0, 0, 0.73) 100%
          ),
          url("/images/furniture/furniture_1.png");
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .main {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.3rem;
    }

    p {
      font-size: 1rem;
    }

    button,
    .emptyButton {
      padding: 0.7rem 1.5rem;
    }

    .emptyButton {
      gap: 0.6rem;
    }

    .hero {
      padding: 10rem 4rem;

      .cta {
        margin-top: 3rem;
      }
    }

    .about {
      padding: 5rem 3rem;
      .text {
        position: relative;
        h1 {
          top: -2rem;
          width: fit-content;
          font-size: 20vw;
        }

        h2 {
        }

        p {
          width: 90%;
          margin-top: 3rem;
        }
      }

      img {
        width: 90%;
      }
    }

    .services {
      padding: 5rem 3rem;
      .service {
        h1 {
        }
      }
    }
  }
}
