.notFound {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  color: black;
  background-color: white;

  position: relative;

  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 2.5rem 1rem;

    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 47.2%,
        rgba(0, 0, 0, 0.9) 100%
      ),
      url("/images/covers/navbar.webp");
    background-size: cover;
    background-position: center;
  }

  .content {
    margin-top: 10rem;
    padding: 5rem 1.25rem 8rem 1.25rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;

    .bigText {
      background: -webkit-linear-gradient(rgba(0, 0, 0, 0.05), white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      font-size: 40vw;
      font-style: normal;
      font-weight: 800;
      line-height: normal;

      position: absolute;
      top: 0;
      z-index: 1;
    }

    .text {
      margin-top: 1rem;
      width: 80%;

      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      gap: 1rem;

      z-index: 1;

      h2 {
        font-size: 1.3rem;
        font-weight: 800;
        line-height: normal;
      }

      p {
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1.375rem;
      }

      button {
        margin-top: 0.5rem;

        color: white;
        font-size: 0.95rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        border-radius: 0.25rem;
        border: none;
        background: black;
        padding: 0.6rem 2rem;

        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .notFound {
    .content {
      margin-top: 6rem;
      padding: 5rem 1.25rem 8rem 1.25rem;

      .text {
        margin-top: 5rem;
        width: 60%;

        h2 {
          font-size: 2rem;
          line-height: 3rem;
        }

        p {
          font-size: 1rem;
          line-height: 1.75rem;
        }

        button {
          margin-top: 0.6rem;
          font-size: 1rem;
          padding: 0.75rem 2.25rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .notFound {
    .content {
      .text {
        margin-top: 10rem;
        width: 60%;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .notFound {
    .content {
      margin-top: 5rem;
      padding: 3rem 2rem 8rem 2rem;

      .bigText {
        font-size: 35rem;
      }

      .text {
        margin-top: 12rem;
        width: 30rem;
      }
    }
  }
}
