.mainProducts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: black;
  background-color: white;

  h2 {
    color: #000;

    font-size: 1.25rem;
    font-weight: 800;
    line-height: 2.5rem;
  }

  p {
    text-align: center;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5625rem;
  }

  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 2.5rem 1rem;

    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 47.2%,
        rgba(0, 0, 0, 0.9) 100%
      ),
      url("/images/covers/navbar.webp");
    background-size: cover;
    background-position: center;
  }

  .content {
    width: 100%;
    min-height: 75rem;

    display: flex;
    align-items: flex-start;
    place-content: space-between;

    .filtersContainer {
      display: none;
    }

    .mainContent {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      .top {
        padding: 3rem 1.5rem 1rem 1.5rem;
        width: 100%;
        max-width: 98rem;

        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .text {
          text-align: left;
          h2 {
            font-size: 1.5rem;
            font-weight: 800;
            line-height: 2.1875rem;
          }

          p {
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25rem;

            span {
              margin: 0 0.5rem;
            }

            a {
              text-decoration-line: underline;
            }
          }
        }

        .buttons {
          margin-top: 2rem;
          width: 100%;

          display: flex;
          align-items: center;
          place-content: space-between;
          gap: 1rem;

          button {
            color: #000;
            font-size: 0.95rem;
            font-weight: 500;
            line-height: 1.25rem;

            border-radius: 0.25rem;
            border: 1px solid black;
            background: transparent;
            padding: 0.4rem 1.1rem;

            display: flex;
            align-items: center;
            gap: 0.5rem;
          }

          .results {
            display: block;
            opacity: 0.5;
            font-weight: 500;
            text-align: left;
          }
          .sort {
            display: none;
          }

          .filter {
            margin-left: auto;
            outline: none;
          }
        }
      }

      .products {
        padding: 1rem 1.5rem 3rem 1.5rem;
        width: 100%;
        max-width: 100rem;

        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.75rem;

        flex-wrap: wrap;
        justify-content: center;

        .productContainer {
          width: 100%;
          max-width: 18rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .mainProducts {
    .content {
      display: flex;
      align-items: center;
      flex-direction: column;
      .mainContent {
        justify-content: center;
        max-width: 41rem;
        .top {
          padding: 3.5rem 2rem 1rem 2rem;

          .text {
            h2 {
              font-size: 2rem;
              line-height: 3.5rem;
            }

            p {
              font-size: 0.9rem;
              line-height: 1.5rem;
            }
          }

          .buttons {
            margin-top: 2.5rem;

            button {
              font-size: 1rem;
              line-height: 1.5rem;
              padding: 0.5rem 1.2rem;
            }
          }
        }

        .products {
          padding: 1rem 2rem 3.5rem 2rem;
          gap: 1rem;
          justify-content: flex-start;

          .productContainer {
            width: 48%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .mainProducts {
    .content {
      .mainContent {
        max-width: 55rem;

        .products {
          padding: 2rem 2rem 4rem 2rem;
          gap: 1.5rem;

          .productContainer {
            width: 30%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1050px) {
  .mainProducts .content .mainContent {
    max-width: 65rem;
  }
}

@media only screen and (min-width: 1400px) {
  .mainProducts {
    .content {
      flex-direction: row;
      align-items: flex-start;
      place-content: space-evenly;
      .filtersContainer {
        display: flex;
        max-width: 20rem;
        width: 20%;
      }

      .mainContent {
        max-width: 55rem;
        width: 80%;
        .top {
          padding: 4rem 2rem 1rem 2rem;

          .buttons {
            .filter {
              display: none;
            }

            .sort {
              margin-left: auto;
              display: flex;
            }
          }
        }
        .products {
          width: 100%;
          padding: 2rem 2rem 4rem 2rem;
          gap: 2rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .mainProducts {
    .content {
      .filtersContainer {
        width: 20%;
      }

      .mainContent {
        max-width: 90rem;
        width: 85%;

        .products {
          width: 100%;
          padding: 2rem 2rem 4rem 2rem;
          gap: 2rem;

          .productContainer {
            width: 18%;
          }
        }
      }
    }
  }
}
