.mainProduct {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: black;
  background-color: white;

  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 2.5rem 1rem;

    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.9) 47.2%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("/images/kitchens/kitchen_2.png");
    background-size: cover;
  }

  .product {
    padding: 5rem 1.25rem 8rem 1.25rem;
    img {
      width: 100%;
    }

    .productInfo {
      margin-top: 1rem;

      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.75rem;

      h2 {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.875rem;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5625rem;
      }

      .buttons {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        margin-top: 2rem;

        button,
        .emptyButton {
          color: white;
          font-size: 0.95rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          border-radius: 0.25rem;
          border: none;
          background: black;
          padding: 0.6rem 2rem;
        }

        .emptyButton {
          display: flex;
          align-items: center;

          color: black;

          border: none;
          background: transparent;
          padding: 0;

          svg {
            margin-left: 0.5rem;
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }
  }
}
