.mainProductLoading {
}

.mainProduct,
.mainProductLoading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: black;
  background-color: white;

  .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 2.5rem 1rem;

    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 47.2%,
        rgba(0, 0, 0, 0.9) 100%
      ),
      url("/images/covers/navbar.webp");
    background-size: cover;
    background-position: center;
  }

  .product {
    max-width: 90rem;
    padding: 5rem 1.25rem 8rem 1.25rem;
    .carouselHolder {
      width: 100%;
    }

    .productInfo {
      margin-top: 1rem;

      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.75rem;

      h2 {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.875rem;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5625rem;
      }

      .buttons {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        margin-top: 2rem;

        button,
        .emptyButton {
          color: white;
          font-size: 0.95rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          border-radius: 0.25rem;
          border: none;
          background: black;
          padding: 0.6rem 2rem;

          transition: all 0.2s ease-in-out;

          &:hover {
            transform: scale(1.05);
          }

          &:active {
            transform: scale(0.95);
          }
        }

        .emptyButton {
          display: flex;
          align-items: center;

          color: black;

          border: none;
          background: transparent;
          padding: 0;

          svg {
            margin-left: 0.5rem;
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 550px) {
  .mainProduct {
    .product {
      padding: 5rem 3rem 8rem 3rem;
    }
  }
}

@media only screen and (min-width: 750px) {
  .mainProduct {
    .product {
      padding: 5rem 7rem 8rem 7rem;

      .productInfo {
        gap: 0;

        h2 {
          margin-bottom: 0.75rem;
        }

        p {
          margin-bottom: 1.25rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .mainProduct {
    .product {
      padding: 5rem 2rem 8rem 2rem;
      display: flex;
      align-items: flex-start;
      place-content: space-between;

      .carouselHolder {
        width: 48%;
      }

      .productInfo {
        width: 48%;
        margin-top: 0;

        h2 {
          margin-bottom: 0.75rem;
        }

        p {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1250px) {
  .mainProduct {
    .product {
      padding: 5rem 5rem 8rem 5rem;

      .carouselHolder {
        width: 45%;
      }

      .productInfo {
        width: 45%;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .mainProduct {
    .product {
      padding: 5rem 7rem 8rem 7rem;

      .carouselHolder {
        width: 43.5%;
      }

      .productInfo {
        width: 43.5%;

        h2 {
          font-size: 2rem;
          line-height: 2.5rem;
        }

        p {
          margin-bottom: 1.75rem;
          line-height: 2.25rem;
        }

        .buttons {
          gap: 3rem;
        }
      }
    }
  }
}
