.mainProducts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: black;
  background-color: white;

  h2 {
    color: #000;

    font-size: 1.25rem;
    font-weight: 800;
    line-height: 2.5rem;
  }

  p {
    text-align: center;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5625rem;
  }

  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 2.5rem 1rem;

    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.9) 47.2%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("/images/kitchens/kitchen_2.png");
    background-size: cover;
  }

  .top {
    padding: 3rem 1.5rem 1rem 1.5rem;
    width: 100%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .text {
      text-align: left;
      h2 {
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 2.1875rem;
      }

      p {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;

        a {
          text-decoration-line: underline;
        }
      }
    }

    .buttons {
      margin-top: 2rem;
      width: 100%;

      display: flex;
      align-items: center;
      place-content: space-between;

      button {
        color: #000;
        font-size: 0.95rem;
        font-weight: 500;
        line-height: 1.25rem;

        border-radius: 0.25rem;
        border: 1px solid black;
        background: transparent;
        padding: 0.4rem 1.1rem;

        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  .products {
    padding: 1rem 1.5rem 3rem 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75rem;

    flex-wrap: wrap;
  }
}
