.mainWebshop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: black;
  background-color: white;

  h1 {
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  h2 {
    color: #000;

    font-size: 1.25rem;
    font-weight: 800;
    line-height: 2.5rem;
  }

  p {
    text-align: center;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5625rem;
  }

  button,
  .emptyButton {
    cursor: pointer;

    color: #000;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 0.25rem;
    border: 1px solid #fff;
    background: #fff;
    padding: 0.6rem 1.2rem;
  }

  .emptyButton {
    display: flex;
    align-items: center;

    color: white;

    border: none;
    background: transparent;
    padding: 0;

    svg {
      margin-left: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 10rem 1rem;

    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.9) 47.2%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("/images/covers/webshop.jpg");
    background-size: cover;

    h1 {
      color: white;
      margin-bottom: 1rem;
    }
  }

  .products {
    padding: 3rem 2.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    .productsType {
      max-width: 100rem;
      width: 100%;
      .top {
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .left {
          width: 100%;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          text-align: left;

          h3 {
            font-size: 1.5rem;
            font-weight: 800;
            line-height: 2.1875rem;
          }

          p {
            margin-top: 1rem;

            text-align: left;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5625rem;
          }
        }

        .emptyButton {
          position: absolute;
          top: 0.3rem;
          right: 0;

          display: flex;
          align-items: center;

          color: #000;
          font-size: 0.95rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          border: none;
          background: transparent;
          padding: 0;

          svg {
            margin-left: 0.5rem;
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }

      .productsList {
        margin-top: 1rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
      }
    }
  }

  .seeAll {
    margin-bottom: 3rem;
    width: 80%;
    border-radius: 0.3125rem;
    background: #191919;
    padding: 2.5rem 1rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;

    h3 {
      color: #fff;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.875rem;

      margin-bottom: 1.5rem;
    }
  }
}

@media only screen and (min-width: 600px) {
  .mainWebshop {
    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.5rem;
      line-height: 3rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.75rem;
    }

    button,
    .emptyButton {
      font-size: 1rem;
      padding: 0.75rem 1.5rem;
    }

    .hero {
      padding: 12rem 1rem;
    }

    .products {
      padding: 5rem 3rem;
      gap: 5rem;

      .productsType {
        .top {
          .left {
            h3 {
              font-size: 1.75rem;
              line-height: 2.5rem;
            }

            p {
              line-height: 1.75rem;
            }
          }

          .emptyButton {
            top: 0.5rem;
            font-size: 1.1rem;

            svg {
              margin-left: 0.75rem;
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }

        .productsList {
          margin-top: 2rem;
        }
      }
    }

    .seeAll {
      margin-bottom: 5rem;
      padding: 3rem 1rem;

      h3 {
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-bottom: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .mainWebshop {
    h1 {
      font-size: 3rem;
    }

    .hero {
      padding: 15rem 1rem;
    }

    .products {
      padding: 5rem 4rem;
      gap: 6rem;

      .productsType {
        .top {
          display: flex;
          align-items: center;

          .left {
            max-width: 50%;
            h3 {
              font-size: 2rem;
              line-height: 3rem;
            }

            p {
              margin-top: 0.5rem;
              font-size: 1rem;
              line-height: 2rem;
            }
          }

          .emptyButton {
            top: 0;
            position: relative;

            svg {
              margin-left: 1rem;
              width: 1.75rem;
              height: 1.75rem;
            }
          }
        }

        .productsList {
          margin-top: 3rem;
        }

        .swiper {
          width: 100%;
          height: 100%;
        }
      }
    }

    .seeAll {
      margin-bottom: 8rem;

      h3 {
        font-size: 2rem;
        line-height: 3.5rem;
        margin-bottom: 3rem;
      }
    }
  }
}

@media only screen and (min-width: 1500px) {
  .mainWebshop {
    .products {
      padding: 7rem;
      gap: 7rem;
    }
  }
}
