.messageModal,
.deleteModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: #fff;

  padding: 0.5rem 1.25rem 1rem 1.25rem;

  width: 30rem;
  height: 100%;
  max-width: 100%;

  outline: none;

  button {
    color: white;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 0.25rem;
    border: none;
    background: black;
    padding: 0.5rem 1.5rem;
  }

  .top {
    width: 100%;

    display: flex;
    align-items: center;
    place-content: space-between;

    h3 {
      font-size: 0.9rem;
      font-weight: 600;
      line-height: 1.875rem;
      opacity: 0.8;
    }

    svg {
      cursor: pointer;

      width: 1.1rem;
      height: 1.1rem;

      opacity: 0.5;
    }
  }

  .deleteContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 10rem;

    h1 {
      text-align: center;
      margin-top: 2rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 2.5rem;
    }

    p {
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5625rem;
    }
  }

  .infoBlock {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    width: 100%;

    .labels,
    .values {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    .labels {
      width: 30%;

      li {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5625rem;
      }
    }

    .values {
      width: 70%;

      li {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5625rem;
        margin-right: 2rem;
      }
    }
  }

  .buttons {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 1rem;

    .delete {
      background: #b90606;
    }
  }
}

.deleteModal {
  border-radius: 0.3125rem;
  max-height: 25rem;
  max-width: min(90%, 30rem);
}

@media only screen and (min-width: 450px) {
  .messageModal {
    border-radius: 0.3125rem;
    max-width: 95%;
    height: 90vh;
  }

  .deleteModal {
    max-height: 20rem;
  }
}

@media only screen and (min-width: 500px) {
  .messageModal {
    max-width: 43rem;

    button {
      font-size: 0.9rem;
      padding: 0.7rem 1.75rem;
    }

    .top {
      h3 {
        font-size: 1rem;
        line-height: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .messageModal {
    max-width: 45rem;
    width: 45rem;
    height: 40rem;
    .infoBlock {
      .labels,
      .values {
        gap: 1.5rem;

        li {
          width: fit-content;
          margin-right: 1rem;
        }
      }

      .labels {
        width: fit-content;
      }

      .values {
        margin-left: 2rem;
      }
    }
  }
}
